#skills h2 {
    margin: 60px 0;
}

.skills {
    border: var(--table-border);
    border-radius: 12px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.skill {
    display: grid;
    grid-template-rows: 1fr 1fr;  
    padding: 70px;
    gap: 32px;

}

.skill:not(:last-child) {
    border-right: var(--table-border);
}

.skill h3 {
    padding: 0;
    margin: 25px 0;
    font: var(--text-table-header);
    text-align: center;
}

.skill h4 {
    font: var(--text-table-header);
    margin: 12px 0;
    text-align: center;
}

.skills-list {
    list-style: none;
    padding: 0 0 32px 0;;
    margin: 0;

}

.skills-card-section img {
    width: 72px;
    height: 72px;
}

.skills-card-section  {
    font: var(--text-table);
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 1250px) {
    .skills {
        width: 90%;
    }
}

@media screen and (max-width: 1100px) {
    .skills {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }
    .skill {
        /* Так как при размерах экрана 1100px и меньше
         * колонки превратились в строки,
         * убираем левые границы и добавляем верхние. */
        border-right: none !important;
        border-top: var(--table-border);
        /* Изменяем отображение на flexbox, так как выравнивание
         * оранжевых подзаголовков больше не нужно. */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skill:first-child {
        /* Убираем верхнюю границу у первого элемента. */
        border-top: none;
    }
}